*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  background-image: linear-gradient(to right, #2980b9, #2c3e50);
  font-family: "Poppins";
}
ul {
  list-style: none;
}

button {
  outline: none;
}

@media (max-width: 480px) {
  body {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}